<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Standard Network / BAD CONNECTION</title>
        <link rel="stylesheet" type="text/css" href="/root.css">
    </head>
    <body>
        <div style="padding:2rem;text-align:center">
            <h1>Connection Issue</h1>
            <p>We could not validate the relay connection. Please reconnect your device and try again.</p>
            <a href="https://standardcomputers.net/login">Return to login</a>
        </div>
    </body>
</html>